* text=auto eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.xaml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.png binary
*.ico binary
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
